<div class="welcome-banner"></div>
<div class="welcome-intro">
	<h3>A WEB DEVELOPMENT COMPANY</h3>
	<h1>TALENTED PEOPLE, CREATIVE DESIGNS, AND THE TOOLS TO DISRUPT THE WEB</h1>
	<h2>We’re a cutting edge web development agency based in the suburbs of Philadelphia. We keep our fingers on the pulse of the most successful brand strategies, web design and development. We provide our clients with unique solutions and creative ideas to turn their biggest challenges into their most positive results.</h2>
	<br>
	<%= link_to 'MORE ABOUT US', '#' %>
</div>
<div class="welcome-images"></div>
<div class="welcome-services">
	<div class="welcome-design">
		<i class="fa fa-pencil-square-o fa-4x"></i>
		<h3>CUTTING EDGE</h3>
		<h1>WEBSITE DESIGN</h1>
		<div class="arrow-up"></div>
		<div class="design-desc welcome-desc hidden">
			<div class="arrow-down"></div>
			<h2>An exciting user-friendly design is the cornerstone to any great website.  Bennett D&D designs custom web platforms and makes use of the latest technologies to establish an extremely effective web presence. We consistently craft unique applications, differentiating our clients from their competition.</h2>
			<br>
			<%= link_to 'MORE', '#' %>
		</div>
	</div><!--
 --><div class="welcome-dev">
		<i class="fa fa-desktop fa-4x"></i>
		<h3>GROUNDBREAKING</h3>
		<h1>WEB DEVELOPMENT</h1>
		<div class="arrow-up"></div>
		<div class="dev-desc welcome-desc hidden">
			<div class="arrow-down"></div>
			<h2> Our talented web development team seamlessly integrates our cutting edge designs into a robust, fully-featured website your users will love.  Powered by custom content management solutions, our clients are able to keep their sites fresh and up-to-date in real time.</h2>
			<br>
			<%= link_to 'MORE', '#' %>
		</div>
	</div>
</div>
<div class="welcome-work">
	<h1>OUR CLIENTS</h1>
	<h2>We work with clients in every business segment, from large online retailers, to small restaurants, to emerging startups. We enjoy tackling challenges in new industries, and looking outside the box to find fresh solutions to unique problems.  Our experienced team can bring value to any business, large or small.</h2>
	<br>
	<%= link_to 'SEE SAMPLES', '#' %>
</div>
<div class="get-started">
	<h3>DON'T WAIT</h3>
	<h1>GIVE YOUR BUSINESS THE EDGE IT DESERVES</h1>
	<h2>Integrated branding is essential to the success of your business. Do you have a consistent message, both visual and conceptual, across each and every touch point? From display advertising to corporate identity to cutting-edge websites, Bennett D&D offers unique creative strategy and memorable graphic design while bringing a fresh approach to all your marketing projects.</h2>
	<br>
	<%= link_to 'GET STARTED', '#' %>
</div>

